In [1]:
import pandas as pd

In [4]:
df3 = pd.read_excel('file3.xlsx')
df4 = pd.read_excel('file4.xlsx')

In [3]:
df3

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,0,R3,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,179863,WA,male,1253,325,447,7,15635,12,57,454,374,9.187500,1,4702,U1,10.0
996,87395,MT,female,842,264,388,3,15084,2,50,286,370,15.100000,0,1701,R1,20.0
997,86779,ND,F,331,165,266,0,9324,1,61,172,232,10.666667,28,0,T3,11.0
998,25214,NC,female,1823,544,567,43,21265,1,62,552,552,12.000000,28,5111,T1,25.0
999,79641,WI,F,1244,672,776,25,25036,1,64,713,743,9.937500,0,2310,S1,12.0

In [5]:
df4

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,186307,CA,M,AAA1229,345,438,3,15915,2,58,388,417,16.142857,1,2511,C2,20.0
1,34174,WV,F,529,198,291,0,10816,0,80,218,257,6.083333,2,3001,T2,12.0
2,101388,MO,M,526,340,342,0,9687,0,89,348,321,5.800000,1,5501,R2,10.0
3,159472,CA,F,621,231,279,0,6184,43,41,237,272,11.666667,1,1512,R3,15.0
4,179143,WA,male,1688,496,564,35,22963,2,63,520,521,23.900000,1,3709,T1,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,41537,FL,F,742,396,470,0,15356,7,37,424,450,14.285714,2,6101,S2,50.0
1002,4881,FL,M,599,100,423,4,11670,10,27,406,200,9.230769,28,7401,C1,10.0
1003,66358,ND,M,593,258,299,0,10186,1,70,298,274,5.266667,1,3301,S2,5.0
1004,2231,WI,male,564,217,397,0,12315,0,96,386,295,11.400000,1,7301,T2,14.0
1005,68534,MI,M,651,431,505,0,14845,7,77,451,455,7.428571,1,1709,S2,9.0

In [7]:
df3.columns == df4.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])